* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow: hidden;
}

body html{
    width: 100vw;
    height: 100vh;
}

label {
    font-size: 16px;
    font-weight: 400;
    color: #101540;
}

.login-container {
    display: flex;
}

.login-content {
    display: flex;
    flex-direction: column;
    margin: 20px 50px 20px 30px;
    width: 100%;
}

.login-head {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 40px;
    padding: 0;
    width: 100%;
}

.login-head p {
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 530px;
    margin-top: 25px;
}

.email {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 5px;
}

.email input {
    height: 60px;
    padding: 15px 10px;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #8F8F8F;
}

.password {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 5px;
}

.password input {
    height: 60px;
    padding: 15px 10px;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #8F8F8F;
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 25px 0px;
    align-items: center;
}

.box input {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #8F8F8F;
}

.box a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #101540;
}

.check-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.check-box label {
    font-size: 16px;
    font-weight: 500;
}

.login-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn button {
    width: 60%;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #8F8F8F;
    background: #101540;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.not-registered {
    width: 100%;
    margin: 25px 0px 15px 0px;
}

.not-registered span {
    font-size: 16px;
    font-weight: 500;
    color: #131313;
}

.not-registered a {
    text-decoration: none;
    color: #101540;
    font-weight: 700;
}

.login-content {
    height: 100%;
    padding: 10px;
    align-items: center;
}

.background-img {
    max-width: 60%;
    height: 100%;
}

.background-img img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media(max-width: 768px) {
    * {
        overflow: scroll;
    }

    .background-img {
        display: none;
    }

    .login-content {
        justify-content: center;
        margin: 20px 50px 20px 50px;
        align-items: center;
        gap: 20px;
    }

    .login-head {
        text-align: center;
    }

    .not-registered {
        text-align: center;
        flex-direction: column;
    }

    form {
        justify-content: center;
    }

    .box {
        flex-direction: column;
        gap: 20px;
    }

    .check-box {
        gap:5px;
    }

    .box input {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        border-radius: 2px;
        border: 1px solid #8F8F8F;
    }
}